body {
    color:blue;
}

.h3-Background {
    background-color:orange;
}

.p-color-orange {

    color:Tomato;
}

#text {

    margin: 2rem 1.1rem 0;
    background-color: gainsboro;
    padding: 1rem 0 0;
    display: block;
    height: 2rem;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}